extends layout

block content 
    h1= title
    p Listado de #{title}

    div.table-response 
        table.table.table-striped
            thead.thead-dark
            tr
                th Usuario
                th Clave
            tbody 
            each usuario in usuarios
                tr
                    th #{usuario.username}
                    td #{usuario.clave}
